*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(241, 238, 238);
    height: 100vh;
    overflow: hidden;
}
.side{
    left: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    background-color: #4d4d4d;
    height: 100vh;
    position: fixed;
    text-align: center;
}
.side img{
    margin: 10px 0px;
}
.side a{
    text-decoration: none;
    display: block;
    color: white;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
}
.side a:hover{
    border: 1px solid white;
    color: white;
}


.head{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d4d4da6;
    left: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding: 20px;
}
.head a{
    text-decoration: none;
    color: white;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
}
.head a:hover{
    border: 1px solid white;
    color: white;
}