*{
    background-color: #008b8b;
    font-family: 'Times New Roman', Times, serif;
}
body{
    padding: 0px;
    margin: 0px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.full{
    background-color: blueviolet;
    padding: 30px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    background-color: blueviolet;
    gap:10px;
    text-align: center;
}
.box div{
    background-color: aqua;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
}