* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  display: block;
  background-color: gray;
  flex-direction: column;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
  text-align: center;
  margin: 3rem;
  border: 2px solid black;
}

.card img {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.btn {
  padding: 7px 15px;
  background-color: burlywood;
  border: 2px solid burlywood;
  border-radius: 5px;
  font-size: large;
}

