ol {
    width: 100%;
    height: 300px;
    margin: 5px black;
    list-style: none;
    background-color: blue;
}
ol li{
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 30px;
    background-color: red;
    margin-left: 50px;
}